.TimeNodeContainer {
    display: inline-flex;
    position: relative;
    width: 100%;
    z-index: 1;
}

.TimeNode {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    text-align: center;
}

.InnerDot {
    display: flex;
    position: relative;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    z-index: 10;
    left: 50px;
    top: 0;
}

.OuterDot {
    display: flex;
    position: relative;
    height: 50px;
    width: 50px;
    background-color: #292929;
    border-radius: 50%;
    z-index: 9;
    left: 37px;
    top: -38px;
}

.Date {
    display: flex;
    position: relative;
    left: 100px;
    top: -93px;
    font-family: var(--font);
    font-size: 25px;
    z-index: 9;
    width: 100px;
}

.Text {
    display: flex;
    position: relative;
    width: fit-content;
    font-family: var(--font);
    left: 100px;
    top: -110px;
    width: 300px;
}

.FunFactDate {
    display: flex;
    position: relative;
    left: 100px;
    top: -80px;
    font-family: var(--font);
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 15px;
}

.FunFact {
    display: flex;
    position: relative;
    left: 100px;
    top: -85px;
    font-family: var(--font);
    width: 200px;
}

.factButton {
    display: flex;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
    padding: 15px;
    border-width: 1px;
    border-radius: 4px;
    width: 250px;
}

@media only screen and (min-width: 500px) {
    .TimeNodeContainer {
        display: flex;
        position: relative;
        width: 100%;
        z-index: 1;
        text-align: center;
    }

    .TimeNode {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 200px;
        z-index: 2;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .InnerDot {
        display: absolute;
        position: relative;
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        z-index: 10;
        left: 0px;
        top: -58px;
        margin: 0 auto;
    }

    .OuterDot {
        display: absolute;
        position: relative;
        height: 50px;
        width: 50px;
        background-color: #292929;
        border-radius: 50%;
        z-index: 9;
        left: 0;
        top: -95px;
        margin: 0 auto;
    }

    .Date {
        display: flex;
        position: relative;
        margin: 0 auto;
        top: -93px;
        left: 0px;
        font-family: var(--font);
        font-size: 25px;
        z-index: 9;
        width: fit-content;
        text-align: center;
    }

    .Text {
        display: flex;
        position: relative;
        width: fit-content;
        font-family: var(--font);
        left: 0px;
        top: -100px;
    }

    .FunFactDate {
        display: flex;
        position: relative;
        left: 0px;
        top: -80px;
        font-family: var(--font);
        font-weight: bolder;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .FunFact {
        display: flex;
        position: relative;
        left: 0px;
        top: -85px;
        font-family: var(--font);
        text-align: left;
    }

    .factButton {
        display: flex;
        position: relative;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        background-color: transparent;
        padding: 10px;
        border-width: 1px;
        border-radius: 4px;
    }
}